@font-face {
  font-family: Lato;
  src: url(./assets/Lato-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Lato;
  src: url(./assets/Lato-Bold.ttf);
  font-weight: bold;
}

* {
  font-family: Lato !important;
}

body {
  margin: 0;
}
